

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  
  color: #b7b8c4;
  
  background: rgb(15, 22, 26);
  background: radial-gradient(circle, rgb(8, 11, 29) 0%, rgb(27, 27, 27) 100%);
  background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

a {
  color: #b7b8c4;
}

button {
  background-color: #336c7a;
  border: 2px solid #142f3b;
  border-radius: 4px;
  padding: 3px 5px;
}

button:hover {
  background-color: #226479;
  border: 2px solid #29556e;
  cursor: pointer;
}

.buttons {
  background-color: #226479;
  border: 2px solid #29556e;
  border-radius: 4px;
  padding: 5px 7px;
  color: black;
  
  width: 600px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
